h1 {
  color: darkgreen;
  text-align: center;
}

.app {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

.panel {
  border: 1px solid darkgreen;
  box-shadow: 0px 0px 8px lightgrey;
  padding: 1em;
  background: white;
}

.wrapper {
  display: flex;
  min-height: 20em;
  border: 1px solid darkgreen;
  box-shadow: 0px 0px 8px 2px lightgrey;
  padding: 1em;
  background: #f8f8f8;
}

.playerPane {
  flex: 1;
  margin-right: 1em;
}
